.header {
  background: rgba(20, 20, 20, 0.5);
  padding: 25px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .menu {
    font-size: 22px;
    font-weight: 700;
    display: none;

    @include media(475px) {
      display: inline-block;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 30px;
    position: relative;

    @include media(475px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      flex-direction: column;
      row-gap: 30px;
      padding-top: 50px;
      transition: 0.3s linear;
      transform: translateY(-100%);

      &.active {
        transform: translateY(0%);
      }
    }

    .circle {
      content: '';
      position: absolute;
      background: #149A03;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      bottom: -15px;
      transform: translateX(-50%);
      display: none;
      transition: 0.3s;


      &.active {
        display: block;
      }

      @include media(475px) {
        display: none;
      }
    }
  }

  .close {
    color: white;
    font-size: 36px;
    position: absolute;
    top: 30px;
    right: 30px;
    display: none;

    @include media(475px) {
      display: inline-block;
    }
  }

  &__link {
    color: rgba(255, 255, 255, 0.6);
    font-size: 18px;
    font-weight: 700;

    @include media(475px) {
      font-size: 22px;
    }

    * {
      pointer-events: none;
    }

    &.router-link-active {
      color: white;

      path {
        fill-opacity: 1;
      }
    }
  }
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.autoplay-progress {
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 10;
  width: 576px;
  height: 100px;
  font-weight: bold;
  background: black;

}



.upcoming {
  height: 100vh;
  display: flex;
  align-items: flex-end;

  &__slide {
    display: flex;
    flex-direction: column;
    gap: 50px;
    z-index: 1;
    position: relative;

    @include media(985px) {
      row-gap: 20px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgba(20, 20, 20, 0.76);
      z-index: -1;
    }

    &-img {
      position: absolute;
      z-index: -1;
    }

    &-title {
      color: white;
      font-size: 80px;
      font-weight: 700;
      line-height: normal;

      @include media(985px) {
        font-size: 50px;
      }

      @include media(505px) {
        font-size: 30px;
      }
    }

    &-text {
      color: #FFF;
      text-align: center;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
      max-width: 960px;
      width: 100%;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    &-btn {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px 15px;
      font-size: 20px;
      border-radius: 10px;
      background: #149A03;
      color: #FFF;
      font-weight: 400;
      line-height: 30px;
    }
  }

  .line {
    width: 100%;
    height: 2px;
    position: absolute;
    background: white;
    bottom: 0;
    left: 0;

  }

  &__progress {
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: #FFF;

    @include media(505px) {
      width: unset;
      left: 16px;
    }

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      background: linear-gradient(90deg, #000 55.64%, rgba(0, 0, 0, 0.00) 100%);

    }

    &-img {
      position: absolute;
      top: 0;
      right: 0;
      z-index: -1;
      width: 280px;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }

    &-text {
      color: #FFF;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 15px;
    }

    &-title {
      color: #FFF;
      font-size: 18px;
      font-weight: 700;
      line-height: normal;
    }
  }
}

.slider {
  padding-top: 25px;
  padding-bottom: 51px;

  &__title {
    color: #FFF;
    font-size: 22px;
    margin-bottom: 43px;
    padding-left: 100px;

    @include media(575px) {
      padding: 0 35px;
    }
  }

  &__swiper {
    padding: 0 100px;
    padding-bottom: 40px;

    @include media(575px) {
      padding: 0 35px;
    }
  }

  &__slide {
    width: 311px;
    height: 462px;
    border: 1px solid #000;
    border-radius: 10px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      border: 16px solid transparent;
      border-top: 25px solid #fff;
      transform: translate(-50%);
      transition: 0.3s;
      z-index: -1;
    }

    &.active {
      border: 1px solid #fff;

      &::after {
        transform: translate(-50%, 100%);
      }
    }


  }

  &__img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: #fff;

    &::after {
      font-size: 30px;
    }

    @include media(575px) {
      display: none;
    }
  }

  .swiper-button-disabled {
    display: none;
  }
}

.top {
  padding-top: 30px;
  padding-bottom: 89px;
  background: #fff;

  &__title {
    font-style: italic;
    font-size: 30px;
    font-family: Montserrat;
    text-transform: uppercase;
    padding-left: 100px;

    span {
      font-style: normal;
      color: #149A03;
    }

    @include media(575px) {
      padding: 0 35px;
    }
  }

  &__swiper {
    padding: 0 100px;

    @include media(575px) {
      padding: 0 35px;
    }
  }

  &__slide {
    border-radius: 10px;
    overflow: hidden;
    user-select: none;
    position: relative;
    height: 463px;

    @include media(768px) {
      height: 340px;
    }

    &-img {
      position: absolute;
      width: 60%;
      top: 0;
      right: 0;
      height: 100%;
      object-fit: cover;
      z-index: -1;
    }

    &-title {
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, #141414 43%, rgba(20, 20, 20, 0.00) 102.08%);
      color: #fff;
      font-family: Montserrat;
      font-size: 150px;
      font-style: italic;
      padding-left: 80px;
      display: flex;
      align-items: center;
    }
  }

  @include media(575px) {

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}

.footer {
  background: #1F1F1F;
  padding-top: 30px;
  padding-bottom: 81px;

  &__icons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin-bottom: 50px;
  }

  &__text {
    color: #A5A5A5;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 300;
    padding: 0 50px;
    margin-bottom: 20px;
  }

  &__logo {
    display: flex;
    justify-content: center;
  }
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding-bottom: 50px;
}

.movie-title {
  color: #fff;
  margin-top: 100px;
  margin-bottom: 50px;
}

.infoblock {
  height: 700px;
  position: relative;

  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
  }

  &__banner {
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    width: 60%;
    z-index: -1;
  }

  &__content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 50px;
    color: #fff;
    row-gap: 30px;
    z-index: 1;
    background: linear-gradient(90deg, #000 43.2%, rgba(0, 0, 0, 0.20) 59.82%, rgba(0, 0, 0, 0.00) 67.73%);
  }

  &__title {
    color: #FFF;
    font-size: 50px;
    width: 50%;
  }

  &__text {
    max-width: 935px;
    width: 100%;
    color: #FFF;
    font-size: 20px;
    line-height: 30px;
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 15px;

    li {
      color: rgba(255, 255, 255, 0.60);
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 700;
      line-height: 30px;
    }
  }

  &-enter-active {
    transition: all 0.3s;
    
  }
  
  &-leave-active {
    transition: all 0.8s;
  }
  
  &-enter-from,
  &-leave-to {
    transform: translateY(-100%);
    opacity: 0;
  }
}