* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    font-family: Raleway;
    cursor: pointer;
    outline: none;
    border: none;
}

textarea,
input {
    font-family: Raleway;
    outline: none;
    border: none;
}

body {
    font-family: Raleway;
    background: #141414;
}

.container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

@mixin media ($size) {
    @media (max-width: $size) {
        @content;
    }
}
